<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/vnd.microsoft.icon"
        href="<%=image_path 'autotune/favicon.ico' %>" />

  <title>Autotune</title>

  <%=stylesheet_link_tag 'autotune/application', media: 'all' %>
  <%=javascript_include_tag 'autotune/application' %>
  <%=render 'autotune/head_bottom' %>
</head>
<body>
<%=render 'autotune/body_top' %>
<div id="autotune-main-body">
  <%= yield %>
</div>
<%=render 'autotune/body_bottom' %>
</body>
</html>
