<ol class="breadcrumb">
  <li><a href="/">Blueprints</a></li>
  <li><a href="/blueprints/<%= blueprint.attributes.name %>/"><%= blueprint.attributes.name %></a></li>
  <li><a href="/blueprints/<%= blueprint.attributes.name %>/jobs/">Builds</a></li>
  <li class="active"><%= attributes.name %></li>
</ol>

<h3><%= attributes.name %></h3>
<p><%= attributes.description %></p>
