<ol class="breadcrumb">
  <li><a href="/">Blueprints</a></li>
  <li><a href="/blueprints/<%= blueprint.attributes.name %>/"><%= blueprint.attributes.name %></a></li>
  <li class="active">Builds</li>
</ol>
<a id="new-build" class="btn btn-primary"
   href="/blueprints/<%= blueprint.attributes.name %>/builds/new">New build</a>

<% _.each(models, function(item) { %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.attributes.name %>
      <p><%= item.attributes.description %></p>
    </div>
  </div>
<% }) %>
