<div id="alert-area"></div>
<nav class="navbar navbar-inverse" id="nav">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed small-nav" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      <span class="sr-only"> <%= I18n.t('autotune.toggle-navigation') %> </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand big-nav" href="/"> <%= I18n.t('autotune.autotune-brand') %> </a>
    <div class="navbar-text" id="spinner">
      <%=render(require('./spinner.ejs'), {color:'white'})%>
    </div>
    <div id="navbar-save-container">
      <div class="project-save-warning">
        <span class="at-icon alert-icon"></span>  <%= I18n.t('autotune.work-unsaved-alert') %>
        <button type="submit" class="btn btn-primary btn-sm"
                 id="savePreview" data-loading-text=" <%= I18n.t('autotune.saving-message') %>">  <%= I18n.t('autotune.save-now') %> </button>
      </div>
      <div class="project-saved">
        <span class="m-status"><span class="at-icon ok-icon"></span></span>  <%= I18n.t('autotune.saved') %>
      </div>
    </div>
  </div>
  <div class="navbar-collapse collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="small-nav"><a data-toggle="collapse" data-target="#navbar-collapse" class="navbar-brand" href="/"></a><a data-toggle="collapse" data-target="#navbar-collapse" href="/"> <%= I18n.t('autotune.autotune-brand') %> </a></li>
      <li><a data-toggle="collapse" data-target="#navbar-collapse" href="/projects"> <%= I18n.t('autotune.nav-projects') %> </a></li>
      <% if (hasRole('superuser')) { %>
      <li data-tab="blueprints"><a href="/blueprints"> <%= I18n.t('autotune.nav-blueprints') %> </a></li>
      <% } %>
      <% if (hasRole('superuser') || hasRole('designer')) { %>
      <li data-tab="themes"><a href="/themes"> <%= I18n.t('autotune.nav-themes') %> </a></li>
      <% } %>
      <li data-tab="faq"><a href="<%=app.config.faq_url %>" target="_blank"> <%= I18n.t('autotune.nav-faq') %> </a></li>
    </ul>
  </div>
</nav>
<div id="main">
  <div style="max-width:10em;margin:5em auto;">
    <%=render(require('./spinner.ejs'))%>
  </div>
</div>
