<div class="container">
  <div class="row m-page-heading list">
    <div class="col-xs-12">
      <h3><%= I18n.t('autotune.choose-blueprint') %></h3>
    </div>
  </div>
  <% if( hasObjects() ) { %>
    <% _.each(getObjects(), function(blueprint, index) { %>
    <% if(index % 3 == 0) { %>
    <% if(index != 0) { %></div><% } %>
  <div class="row m-blueprint-chooser">
    <% } %>
    <div class="col-sm-4">
      <div class="thumbnail" style="background-image:url('<%=blueprint.get('thumb_url') %>');">
        <h4><%=blueprint.get('title') %></h4>
        <a href="<%=blueprint.url() %>/new_project"></a>
      </div>
    </div>
    <% }) %>
  </div>
  <% } else { %>
  <div class="well text-center">
    <h4> <%= I18n.t('autotune.no-blueprints-ready') %> </h4>
    <p> <%= I18n.t('autotune.ask-promote-blueprint-to-ready') %> </p>
  </div>
  <% } %>
</div>
