<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a
      href="#edit" aria-controls="edit"
      role="tab" data-toggle="tab"> <%= I18n.t('autotune.blueprint-info') %> </a></li>
  <% if ( model.hasForm() ) { %>
  <li role="presentation"><a
      href="#builder" aria-controls="builder"
      role="tab" data-toggle="tab"> <%= I18n.t('autotune.form-builder') %> </a></li>
  <% } else { %>
  <li role="presentation" class="disabled"><a> <%= I18n.t('autotune.form-builder') %> </a></li>
  <% } %>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="overflow: scroll;">
  <!-- <div class="container"> -->
    <div class="m-page-heading contain">
      <h3><% if ( model.isNew() ) { %> <%= I18n.t('autotune.new-blueprint') %> <% } else { %><%=model.get( 'title' ) %> <a class="btn btn-sm btn-primary" href="<%=model.url() %>/new_project"> <%= I18n.t('autotune.new-project') %> </a><% } %></h3>

      <% if ( !model.isNew() ) { %>
      <p class="text-muted">
         <%= I18n.t('autotune.status-header') %>
        <% if(model.hasStatus('ready')) { %>
        <span class="text-success"><i class="icon-ok"></i> <%= I18n.t('autotune.status-ready') %> </span>
        <% } else if(model.hasStatus('broken')) { %>
        <span class="text-danger"><i class="icon-alert"></i> <%= I18n.t('autotune.status-broken') %> </span>
        <% } else if(model.hasStatus('updating')) { %>
        <span class="text-warning"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%> <%= I18n.t('autotune.status-upgrading') %> </span>
        <% } else { %>
        <span class="text-warning"><i class="icon-info"></i><%=capitalize(model.get('status')) %></span>
        <% } %>
      </p>
      <% } %>
    </div>
  <!-- </div> -->
  <div role="tabpanel" class="tab-pane active" id="edit">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <form id="new-blueprint" role="form"
                data-next="show" data-model="Blueprint"
                <% if(model.isNew()) { %>
                data-action="new"
                <% } else { %>
                data-action="edit" data-model-id="<%=model.get('id') %>"
                <% } %> >
            <div class="form-group">
              <label for="title"> <%= I18n.t('autotune.title-label') %> </label>
              <input type="text" required class="form-control"
                     <% if(!model.isNew()) { %>value="<%=model.get('title') %>"<% } %>
                     id="title" name="title" placeholder="<%= I18n.t('autotune.title-placeholder') %>">
            </div>
            <div class="form-group">
              <label for="repo_url"> <%= I18n.t('autotune.blueprint-repo-url') %> </label>
              <input type="text" required class="form-control"
                     <% if(!model.isNew()) { %>value="<%=model.get('repo_url') %>"<% } %>
                     id="repo_url" name="repo_url" placeholder="<%= I18n.t('autotune.blueprint-repo-url-placeholder') %>">
              <p class="help-block"> <%= I18n.t('autotune.blueprint-repo-url-help-1') %> <p>
              <p class="help-block"> <%= I18n.t('autotune.blueprint-repo-url-help-2') %> <p>
            </div>
            <% if(!model.isNew()) { %>
            <div class="form-group">
              <label for="status" class="block"> <%= I18n.t('autotune.status') %> </label>
              <div class="select">
                <select id="status" name="status" class="form-control">
                <% _.each(app.config.blueprint_statuses, function(status) { %>
                  <option <% if( model.hasStatus(status) ) { %>selected<% } %>
                        value="<%=status %>"><%=capitalize( status ) %></option>
                <% }) %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="mode" id="testing" value="testing"<% if( model.get('mode') === 'testing' ) { %> checked<% } %>><b></b>
                    <%= I18n.t('autotune.blueprint-testing-help', { new_project_url: model.url() + '/new_project' }) %>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="mode" id="ready" value="ready"<% if( model.get('mode') === 'ready' ) { %> checked<% } %>><b></b>
                    <%= I18n.t('autotune.blueprint-ready-help') %>
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="mode" id="retired" value="retired"<% if( model.get('mode') === 'retired' ) { %> checked<% } %>><b></b>
                    <%= I18n.t('autotune.blueprint-retired-help') %>
                </label>
              </div>
            </div>
            <% } %>
            <br />
            <div class="form-group">
              <button type="submit" class="btn btn-primary"
                      data-loading-text="<%= I18n.t('autotune.saving-message') %>"> <%= I18n.t('autotune.saving-message') %> </button>

              <% if ( !model.isNew() ) { %>
              <button type="button" class="btn btn-secondary"
                      data-action-message=" <%= I18n.t('autotune.upgrade-started') %>"
                      data-loading-text="<%= I18n.t('autotune.upgrading-message') %>"
                      data-action="update-repo" data-model="Blueprint"
                      data-action-next="reload"
                      data-model-id="<%=model.get('slug') %>"> <%= I18n.t('autotune.upgrade') %> </button>
              <button type="button" class="btn btn-danger"
                      <% if ( model.hasStatus('updating') ) { %>disabled="true"<% } %>
                      data-action-message="<%= I18n.t('autotune.project-deleted-message') %>"
                      data-action-confirm="<%= I18n.t('autotune.delete-confirm') %>"
                      data-loading-text="<%= I18n.t('autotune.deleting-message') %>"
                      data-action="destroy"
                      data-action-next="/blueprints" data-model="Blueprint"
                      data-model-id="<%=model.get('slug') %>"> <%= I18n.t('autotune.action-delete') %> </button>
              <% } %>
            </div>
          </form>
        </div>
        <div class="col-sm-6">
          <% if ( !model.isNew() ) { %>
          <img src="<%=model.get('thumb_url') %>" alt="<%=model.get('title') %>" width="100%">
          <p><strong> <%= I18n.t('autotune.type-header') %> </strong> <%=model.get('type') %></p>
          <% if ( model.has('config') ) { %>
          <p class="margin-bottom"><%=model.get('config').description %></p>
          <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="builder" style="max-width: 900px; margin: auto; padding: 1rem; overflow: hidden;">
    <!-- <div class="container"> -->
      <div id="schema" style="max-height: 550px;"></div>
      <div id="previewWrap">
        <div class="message"></div>
        <div id="previewDiv"></div>
      </div>
    <!-- </div> -->
  </div>
</div>
