<h3>Manage blueprints
  <a class="btn btn-primary btn-xs" href="/blueprints/new">New blueprint</a></h3>
<div class="row">
  <div class="col-sm-5">
    <form class="form-inline" method="get" action="/blueprints">
      <div class="form-group">
        <label class="sr-only" for="search">Search query</label>
        <input type="search" class="form-control"
               name="search" id="search" placeholder="Search"
               <% if(query.search) { %>value="<%=query.search %>"<% } %>>
        <% if(query.search) { %>
          <a href="/blueprints">clear</a>
        <% } %>
      </div>
    </form>
  </div>
  <div class="col-sm-7 text-right">
    <form class="form-inline" method="get" action="/blueprints">
      Filters
      <% if(query.type || query.tag || query.status) { %>
        (<a href="/projects">clear</a>)
      <% } %>
      &nbsp;
      <select name="type" id="type" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.type) { %>selected<% } %>>Type</option>
      <% _.each(AUTOTUNE_CONFIG.blueprint_types, function(type) { %>
        <option <% if(type === query.type) { %>selected<% } %>
                value="<%=type %>"><%=type %></option>
      <% }) %>
      </select>
      <select name="tag" id="tag" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.tag) { %>selected<% } %>>Tag</option>
      <% _.each(AUTOTUNE_CONFIG.blueprint_tags, function(tag) { %>
        <option <% if(tag.slug === query.tag) { %>selected<% } %>
                value="<%=tag.slug %>"><%=tag.title %></option>
      <% }) %>
      </select>
      <select name="status" id="status" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.status) { %>selected<% } %>>Status</option>
      <% _.each(AUTOTUNE_CONFIG.blueprint_statuses, function(status) { %>
        <option <% if(status === query.status) { %>selected<% } %>
                value="<%=status %>"><%=status %></option>
      <% }) %>
      </select>
    </form>
  </div>
</div>
<br>
<table class="table">
  <tbody>
<% if(collection.models.length == 0) { %>
    <td class="text-center"><h4>No blueprints found</h4></td>
<% }
  _.each(collection.models, function(item) { %>
  <tr>
    <td><a href="<%=item.url() %>"><%= item.attributes.title %></a></td>
    <td class="text-right">
    <% if(item.attributes.status == 'ready') { %>
      <span class="label label-success text-capitalize"><%= item.attributes.status %></span>
    <% } else { %>
      <span class="label label-warning text-capitalize"><%= item.attributes.status %></span>
    <% } %>
      <div class="btn-group btn-group-sm" role="group" aria-label="blueprint actions">
        <a class="btn btn-default" href="<%=item.url() %>/edit">Edit</a>
        <button type="button" class="btn btn-default"
                data-action="update" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>">Update</button>
        <button type="button" class="btn btn-danger"
                data-action="delete" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>">Delete</button>
      </div>
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
