<div class="row m-page-heading">
  <div class="col-xs-12 col-sm-6">
    <h3>Manage blueprints</h3>
  </div>
  <div class="col-xs-12 col-sm-6 text-right">
    <form class="form-inline" method="get" action="/blueprints">
      <div class="form-group">
        <label class="sr-only" for="search">Search query</label>
        <input type="search" class="form-control"
               name="search" id="search" placeholder="Search"
               <% if(query.search) { %>value="<%=query.search %>"<% } %>>
        <% if(query.search) { %>
          <a href="/blueprints">clear</a>
        <% } %>
      </div>
    </form>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <td>
        <a class="btn btn-primary btn-xs" href="/blueprints/new">New blueprint</a>
      </td>
      <td class="text-right" colspan="3">
        <form class="form-inline" method="get" action="/blueprints">
          Filters
          <% if(query.type || query.tag || query.status) { %>
            (<a href="/blueprints">clear</a>)
          <% } %>
          &nbsp;
          <div class="select">  
            <select name="type" id="type" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.type) { %>selected<% } %>>Type</option>
            <% _.each(app.config.blueprint_types, function(type) { %>
              <option <% if(type === query.type) { %>selected<% } %>
                    value="<%=type %>"><%=type %></option>
            <% }) %>
            </select>
          </div>
          <div class="select">  
            <select name="tag" id="tag" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.tag) { %>selected<% } %>>Tag</option>
            <% _.each(app.config.blueprint_tags, function(tag) { %>
              <option <% if(tag.slug === query.tag) { %>selected<% } %>
                    value="<%=tag.slug %>"><%=tag.title %></option>
            <% }) %>
            </select>
          </div>
          <div class="select">  
            <select name="status" id="status" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.status) { %>selected<% } %>>Status</option>
            <% _.each(app.config.blueprint_statuses, function(status) { %>
              <option <% if(status === query.status) { %>selected<% } %>
                    value="<%=status %>"><%=status %></option>
            <% }) %>
            </select>
          </div>
        </form>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="m-table-heading">
      <td>Blueprint</td>
      <td>Status</td>
      <td class="text-right" colspan="2">Bold Actions</td>
    </tr>
  <% if(collection.models.length == 0) { %>
      <td class="text-center" colspan="4"><h4>No blueprints found</h4></td>
  <% }
  _.each(collection.models, function(item) { %>
  <tr>
    <td <% if(item.get('status') == 'ready') { %>
      class="ok-notice"
      <% } else if(item.get('status') == 'broken') { %>
      class="alert-notice"
      <% } else { %>
      class="info-notice"
      <% } %>><a href="<%=item.url() %>"><%= item.attributes.title %></a></td>
    <td>
      <% if(item.get('status') == 'ready') { %>
      <span class="m-status status-ok"><i class="icon-ok"></i><%=item.get('status') %></span>
      <% } else if(item.get('status') == 'broken') { %>
        <span class="m-status status-alert"><i class="icon-alert"></i><%=item.get('status') %></span>
      <% } else { %>
        <span class="m-status status-info"><i class="icon-info"></i><%=item.get('status') %></span>
      <% } %>
    </td>
    <td class="text-right" colspan="2">

      <a data-tooltip="edit" href="<%=item.url() %>/edit" class="icon-edit"></a>
      <a data-tooltip="update" href="#" class="icon-refresh" data-action="update" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>"></a>
      <a data-tooltip="delete" href="#" class="icon-delete" data-action="delete" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>"></a>
      <!-- to do: delete this after approval of above icons
      <div class="btn-group btn-group-sm" role="group" aria-label="blueprint actions">
        <a class="btn btn-default" href="<%=item.url() %>/edit">Edit</a>
        <button type="button" class="btn btn-default"
                data-action="update" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>">Update</button>
        <button type="button" class="btn btn-danger"
                data-action="delete" data-model="Blueprint"
                data-model-id="<%= item.attributes.slug %>">Delete</button>
      </div>
      -->
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
