<div role="tabpanel" id="project-tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a
        href="#edit" aria-controls="edit"
        role="tab" data-toggle="tab"> <%= I18n.t('autotune.create') %> </a></li>
    <% if ( model.isNew() ) { %>
    <li role="presentation" class="disabled"><a> <%= I18n.t('autotune.publish') %> </a></li>
    <% } else { %>
    <li role="presentation"><a
        href="#publish" aria-controls="data"
        role="tab" data-toggle="tab"> <%= I18n.t('autotune.publish') %> </a></li>
    <% } %>
    <% if ( hasRole('superuser') ) { %>
      <% if ( model.isNew() ) { %>
      <li role="presentation" class="disabled"><a> <%= I18n.t('autotune.developer') %> </a></li>
      <% } else { %>
      <li role="presentation"><a
          href="#developer" aria-controls="data"
          role="tab" data-toggle="tab"> <%= I18n.t('autotune.developer') %> </a></li>
      <% } %>
  <% } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit">
      <% if (model.blueprint.hasPreviewType('live')) { %>
      <div id="projectEditor" class="row">

        <div class="col-md-8 col-sm-7 scroll-pane" id="preview-pane">
          <ul class="nav nav-pills">
            <button type="button" id="small-view"
                    class="btn btn-default resize"></button>
            <button type="button" id="medium-view"
                    class="btn btn-default resize"></button>
            <button type="button" id="fluid-view"
                    class="btn btn-default resize active"></button>
          </ul>
          <br />
          <p class="blueprint-title"><%= model.blueprint.get('title') %></p>

          <% if ( model.isNew() ) { %>
            <p> <%= I18n.t('autotune.draft') %> </p>
          <% } else { %>
          <p>
            <% if ( model.hasStatus('broken') ) { %>
            <span class="text-danger"><i class="icon-alert"></i> <%= I18n.t('autotune.status-broken') %> </span>
            <% } else if ( !model.hasStatus('built') ) { %>
            <span class="label label-info"><%=render(require('./spinner.ejs'), {size:10, color:'#282E35'})%> <%= I18n.t('autotune.building') %> </span>
            <% } else if ( model.hasUnpublishedUpdates() ) { %>
              <a data-tooltip="<%= I18n.t('autotune.has-updates-tooltip') %>"
                 target="_blank" href="<%=model.getPublishUrl() %>"> <%= I18n.t('autotune.published') %> </a> <%= I18n.t('autotune.has-updates') %>
            <% } else if ( model.isPublished() ) { %>
              <a data-tooltip="<%= I18n.t('autotune.view-published-preview') %>"
                 target="_blank" href="<%=model.getPublishUrl() %>"> <%= I18n.t('autotune.published') %> </a>
            <% } else if ( model.hasType( 'graphic' ) ) { %>
              <%= I18n.t('autotune.draft') %>
            <% } else { %>
              <a data-tooltip="<%= I18n.t('autotune.view-draft-preview') %>"
                 target="_blank" href="<%=model.getPreviewUrl() %>"> <%= I18n.t('autotune.draft') %> </a>
            <% } %>
            <% if ( model.get('published_at') ) { %> - <%=model.publishedTime() %><% } %>
          </p>
          <% } %>

          <% if ( model.hasStatus('broken') && model.has('error_message') ) { %>
          <p class="text-danger">
           <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only"> <%= I18n.t('autotune.error-header') %> </span>
            <%=model.getErrorMsg() %></p>
          <% } %>

          <div id="preview">

            <div class="preview-frame">
              <!-- add classes depending on what is new or not -->
              <div id="embed-preview" class=
              <% if (model.isNew() && !model.hasBuildData()) { %>
                "validation-error"
              <% } else if (!model.hasPreviewType('live') && model.hasStatus('building')) { %>
                "building"
              <% } else { %>
                "loading"
              <% } %>>
                <div class="overlay">
                  <span><%=render(require('./spinner.ejs'), {size:30, color:'#FFFFFF'})%></span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-5 scroll-pane" id="form-pane">
          <div id="split-bar"></div>
          <h4> <%= I18n.t('autotune.preview-header') %> </h4>
          <ul class="nav nav-pills">
            <button type="button" id="small-view"
                    class="btn btn-default resize"></button>
            <button type="button" id="medium-view"
                    class="btn btn-default resize"></button>
            <button type="button" id="fluid-view"
                    class="btn btn-default resize active"></button>
          </ul>
          <div id="projectForm"></div>
        </div>

      </div>
      <% } else { %>
        <div id="row">
          <div class="col-sm-8 scroll-pane" id="preview-pane">
            <h3>
                <% if ( model.isNew() && (copyProject == false) ) {
                  %> <%= I18n.t('autotune.new-project') %> <%
                } else if ( copyProject ) {
                  %> <%= I18n.t('autotune.new') %> <%= model.get( 'title' ) %><%
                } else {
                  %><%= model.get( 'title' ) %><%
                } %>
            </h3>

            <% if ( !model.isNew() ) { %>
            <p>
              <% if ( model.hasStatus('broken') ) { %>
              <span class="text-danger"><i class="icon-alert"></i> <%= I18n.t('autotune.status-broken') %> </span>
              <% } else if ( !model.hasStatus('built') ) { %>
              <span class="text-warning"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%> <%= I18n.t('autotune.building') %> </span>
              <% } else if ( model.hasUnpublishedUpdates() ) { %>
                <a data-tooltip="<%= I18n.t('autotune.has-updates-tooltip') %>"
                   target="_blank" href="<%=model.getPublishUrl() %>"> <%= I18n.t('autotune.published') %> </a> <%= I18n.t('autotune.has-updates') %>
              <% } else if ( model.isPublished() ) { %>
                <a data-tooltip="<%= I18n.t('autotune.view-published-preview') %>"
                   target="_blank" href="<%=model.getPublishUrl() %>"> <%= I18n.t('autotune.published') %> </a>
              <% } else if ( model.hasType( 'graphic' ) ) { %>
                <a data-tooltip="<%= I18n.t('autotune.view-draft-preview') %>" data-toggle="tab" href="#preview"> <%= I18n.t('autotune.draft') %> </a>
              <% } else { %>
                <a data-tooltip="<%= I18n.t('autotune.view-draft-preview') %>"
                   target="_blank" href="<%=model.getPreviewUrl() %>"> <%= I18n.t('autotune.draft') %> </a>
              <% } %>
              <% if ( model.get('published_at') ) { %> - <%=model.publishedTime() %><% } %>
            </p>
            <% } %>

            <% if ( model.hasStatus('broken') && model.has('error_message') ) { %>
            <p class="text-danger">
             <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only"> <%= I18n.t('autotune.error-header') %> </span>
              <%=model.getErrorMsg() %></p>
            <% } %>
            <div id="projectForm"></div>
          </div>
          <div class="col-sm-4 scroll-pane" id="form-pane"><%=model.instructions() %></div>
        </div>
    <% } %>
  </div>



    <div role="tabpanel" class="tab-pane" id="publish">
      <div class="container" style="padding-top: 20px;">
        <h3><%= model.get( 'title' ) %></h3>
        <hr />
        <h4> <%= I18n.t('autotune.publish') %> </h4>
        <button type="button" class="btn btn-primary" id="publishBtn"
                <% if ( ! model.hasInitialBuild() && ! model.hasPreviewType('live') ) { %>disabled="true"<% } %>
                data-action-message="<%= I18n.t('autotune.publishing') %>"
                data-action="build-and-publish" data-model="Project"
                data-action-next="reload"
                data-model-id="<%=model.get('slug') %>"
                <% if ( model.hasStatus('building') ) { %>
                  style="width: 109px;"> <%= I18n.t('autotune.publishing') %> <div></div>
                <% } else { %>
                  ><% if ( model.hasInitialBuild() ) { %>
                    <%= I18n.t('autotune.publish-changes-now') %>
                  <% } else { %>
                    <%= I18n.t('autotune.publish-now') %>
                  <% } %>
                <% } %>
                </button>
        <% if ( model.hasInitialBuild() ) { %>
        <a class="btn btn-secondary" target="_blank" id="viewBtn"
           href="<%=model.getPublishUrl() %>"> <%= I18n.t('autotune.view') %> </a>
        <% } %>

          <br />
          <br />
          <br />
        <% if (model.blueprint.hasType('graphic')){ %>
          <h4> <%= I18n.t('autotune.share-text') %> </h4>

          <textarea id="shareText" class="form-control" rows="6"></textarea>
          <%= I18n.t('autotune.share-text-help-block') %>
            <br />
            <br />
            <br />
          <h4> <%= I18n.t('autotune.embed-in-your-story') %> </h4>

          <% if ( model.has('embed_html') ) { %>
          <textarea class="form-control" id="embedText" rows="6" readonly><%=model.get('embed_html') %></textarea>
          <p>
            <button type="button" class="btn btn-default"
                    data-hook="copyEmbedToClipboard"> <%= I18n.t('autotune.copy-embed-code') %> </button>
          </p>
          <% } else { %>
            <textarea class="form-control" id="embedText" rows="6" placeholder="<%= I18n.t('autotune.embed-placeholder') %>" readonly></textarea>
          <% } %>
          <% if ( model.has('screenshot_sm_url') ) { %>
            <br />
            <br />
          <h4> <%= I18n.t('autotune.screenshots') %> </h4>
          <ul class="nav nav-pills">
            <li href="#large-ss" data-toggle="tab" class="active">
              <button type="button" id="fluid-view"
                    class="btn btn-default resize"></button>
            </li>


            <li href="#medium-ss" data-toggle="tab">
              <button type="button" id="medium-view" href="#medium-ss" data-toggle="tab"
                    class="btn btn-default resize"></button>
            </li>

            <li href="#small-ss" data-toggle="tab">
              <button type="button" id="small-view"
                    class="btn btn-default resize"></button>
            </li>
          </ul>

          <div class="tab-content">
            <div id="large-ss" class="tab-pane active">
              <img src="<%=model.get('screenshot_lg_url')%>" />
            </div>
            <div id="medium-ss" class="tab-pane">
              <img src="<%=model.get('screenshot_md_url')%>" />
            </div>
            <div id="small-ss" class="tab-pane">
              <img src="<%=model.get('screenshot_sm_url')%>" />
            </div>
          </div>
          <% } %>
        <% } %>
        </div>
      </div>

    <% if ( hasRole('superuser') ) { %>
    <div role="tabpanel" class="tab-pane" id="developer">
      <div class="container">
        <p> <%= I18n.t('autotune.status-header') %>
          <% if ( model.hasStatus('broken') ) { %><span class="label label-danger"> <%= I18n.t('autotune.status-broken') %> </span>
          <% } else if ( model.hasStatus('built') ) { %><span class="label label-success"> <%= I18n.t('autotune.status-built') %> </span>
          <% } else if ( model.hasStatus('building') ) { %>
            <span class="label label-info"><%=render(require('./spinner.ejs'), {size:10, color:'#282E35'})%>
              <%=capitalize(model.get('status')) %></span>
          <% } else { %><span class="label label-info"><%=capitalize(model.get('status')) %></span><% } %>
        </p>

        <p>
          <button type="button" class="btn btn-primary"
                  data-action-message="<%= I18n.t('autotune.build-started-message') %>" data-loading-text="<%= I18n.t('autotune.build-starting-message') %>"
                  data-action="build" data-action-next="reload"> <%= I18n.t('autotune.rebuild') %> </button>
          <button type="button" class="btn btn-secondary"
                  data-action-message="<%= I18n.t('autotune.upgrade-started') %>" data-loading-text="<%= I18n.t('autotune.upgrade-starting-message') %>"
                  data-action="update-snapshot" data-action-next="reload"> <%= I18n.t('autotune.upgrade') %> </button>
        </p>

        <h4> <%= I18n.t('autotune.blueprint-data-header') %> </h4>
        <form data-model="Project"
              data-model-id="<%=model.isNew() ? '' : model.id %>"
              data-action="<%=model.isNew() ? 'new' : 'edit' %>"
              data-next="show">
          <p><div id="blueprint-data"></div></p>
          <p>
            <button type="submit" class="btn btn-default"
                    data-loading-text="<%= I18n.t('autotune.saving-message') %>"> <%= I18n.t('autotune.save-raw-data') %> </button>
          </p>
        </form>

        <h4> <%= I18n.t('autotune.last-build-output-header') %> </h4>
        <pre><%=escape( model.get('output') ) %></pre>
      </div>
    </div>
    <% } %>

  </div>

</div>
