<h3>Projects
    <a id="new-project" class="btn btn-primary btn-xs"
       href="/projects/new">New project</a></h3>
<div class="row">
  <div class="col-sm-5">
    <form class="form-inline" method="get" action="/projects">
      <div class="form-group">
        <label class="sr-only" for="search">Search query</label>
        <div class="btn-group">
          <input type="text" class="form-control"
                 name="search" id="search" placeholder="Search"
                 <% if(query.search) { %>value="<%=query.search %>"<% } %>>
        <% if(query.search) { %>
          <a href="/projects">clear</a>
        <% } %>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-7 text-right">
    <form class="form-inline" method="get" action="/projects">
      Filters
      <% if(query.theme || query.blueprint_type || query.status) { %>
        (<a href="/projects">clear</a>)
      <% } %>
      &nbsp;
      <select name="theme" id="theme" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.theme) { %>selected<% } %>>Theme</option>
      <% _.each(AUTOTUNE_CONFIG.project_themes, function(theme) { %>
        <option <% if(theme === query.theme) { %>selected<% } %>
                value="<%=theme %>"><%=theme %></option>
      <% }) %>
      </select>
      <select name="blueprint_type" id="blueprint_type" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.blueprint_type) { %>selected<% } %>>Type</option>
      <% _.each(AUTOTUNE_CONFIG.blueprint_types, function(type) { %>
        <option <% if(type === query.blueprint_type) { %>selected<% } %>
                value="<%=type %>"><%=type %></option>
      <% }) %>
      </select>
      <select name="status" id="status" class="form-control" data-auto-submit="true">
        <option disabled <% if(!query.status) { %>selected<% } %>>Status</option>
      <% _.each(AUTOTUNE_CONFIG.project_statuses, function(status) { %>
        <option <% if(status === query.status) { %>selected<% } %>
                value="<%=status %>"><%=status %></option>
      <% }) %>
      </select>
    </form>
  </div>
</div>
<br>
<table class="table">
  <tbody>
<% if(collection.models.length == 0) { %>
  <tr><td class="text-center"><h4>No projects found</h4></td></tr>
<% }
   _.each(collection.models, function(item) { %>
   <tr>
    <td><a href="<%=item.url() %>"><%= item.get('title') %></a></td>
    <td class="text-right">
    <% if(item.get('status') == 'built') { %>
      <span class="label label-success text-capitalize"><%=item.get('status') %></span>
    <% } else if(item.get('status') == 'broken') { %>
      <span class="label label-danger text-capitalize"><%=item.get('status') %></span></h4>
    <% } else { %>
      <span class="label label-warning text-capitalize"><%=item.get('status') %></span>
    <% } %>
      <div class="btn-group btn-group-sm" role="group" aria-label="project actions">
        <a class="btn btn-default" href="<%=item.url() %>/edit">Edit</a>
        <button type="button" class="btn btn-default"
                data-action="build" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Rebuild</button>
        <button type="button" class="btn btn-default"
                data-action="update" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Upgrade</button>
        <button type="button" class="btn btn-danger"
                data-action="delete" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Delete</button>
      </div>
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
