<div class="row m-page-heading">
  <div class="col-xs-12 col-sm-6">
    <h3>Projects</h3>
  </div>
  <div class="col-xs-12 col-sm-6 text-right">
    <form class="form-inline" method="get" action="/projects">
      <div class="form-group">
        <label class="sr-only" for="search">Search query</label>
        <div class="btn-group">
          <input type="text" class="form-control"
                 name="search" id="search" placeholder="Search"
                 <% if(query.search) { %>value="<%=query.search %>"<% } %>>
        <% if(query.search) { %>
          <a href="/projects">clear</a>
        <% } %>
        </div>
      </div>
    </form>
  </div>
</div>
<table class="table projects">
  <thead>
    <tr>
      <td>
        <a id="new-project" class="btn btn-primary btn-xs"
       href="/projects/new">New project</a>
      </td>
      <td class="text-right" colspan="3">
        <form class="form-inline" method="get" action="/projects">
          Filters
          <% if(query.theme || query.blueprint_type || query.status) { %>
            (<a href="/projects">clear</a>)
          <% } %>
          &nbsp;
          <div class="select">
            <select name="theme" id="theme" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.theme) { %>selected<% } %>>Theme</option>
            <% _.each(app.config.project_themes, function(theme) { %>
              <option <% if(theme === query.theme) { %>selected<% } %>
                    value="<%=theme %>"><%=theme %></option>
            <% }) %>
            </select>
          </div>
          <div class="select">
            <select name="blueprint_type" id="blueprint_type" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.blueprint_type) { %>selected<% } %>>Type</option>
            <% _.each(app.config.blueprint_types, function(type) { %>
              <option <% if(type === query.blueprint_type) { %>selected<% } %>
                    value="<%=type %>"><%=type %></option>
            <% }) %>
            </select>
          </div>
          <div class="select">
            <select name="status" id="status" class="form-control" data-auto-submit="true">
              <option disabled <% if(!query.status) { %>selected<% } %>>Status</option>
            <% _.each(app.config.project_statuses, function(status) { %>
              <option <% if(status === query.status) { %>selected<% } %>
                    value="<%=status %>"><%=status %></option>
            <% }) %>
            </select>
          </div>
        </form>
      </td>
    </tr>
  </thead>
  <tbody>
  <tr class="m-table-heading">
    <td>Project</td>
    <td>Editorial Status</td>
    <td>Blueprint</td>
    <td class="text-right">Bold Actions</td>
  </tr>
  <% if(collection.models.length == 0) { %>
  <tr><td class="text-center" colspan="4"><h4>No projects found</h4></td></tr>
  <% }
   _.each(collection.models, function(item) { %>
   <tr>
    <td <% if(item.get('status') == 'built') { %>
      class="ok-notice"
      <% } else if(item.get('status') == 'broken') { %>
      class="alert-notice"
      <% } else { %>
      class="info-notice"
      <% } %>>
      <% if(item.get('status') == 'built') { %>
        <span class="m-status status-ok"><i class="icon-ok"></i><%=item.get('status') %></span>
      <% } else if(item.get('status') == 'broken') { %>
        <span class="m-status status-alert"><i class="icon-alert"></i><%=item.get('status') %></span>
      <% } else { %>
        <span class="m-status status-info"><i class="icon-info"></i><%=item.get('status') %></span>
      <% } %>
      <a href="<%=item.url() %>"><%= item.get('title') %></a></td>
    <td>
      “Published” with timestamp or “Draft” status here.
    </td>
    <td>Blueprint name here</td>
    <td class="text-right">

      <a data-tooltip="edit" href="<%=item.url() %>/edit"><span class="icon-edit"></span></a>
      <a data-tooltip="preview" target="_blank" <% if ( ! item.hasStatus( 'built' ) ) { %>disabled="true"<% } %> href="<%=item.get('preview_url') %>"><span class="icon-preview"></span></a>
      <a data-tooltip="delete" href="" data-action="delete" data-model="Project" data-model-id="<%= item.get('slug') %>"><span class="icon-delete"></span></a>
      <!--  to do: delete this after approval of above icons
      <div class="btn-group btn-group-sm" role="group" aria-label="project actions">
        <a class="btn btn-default" href="<%=item.url() %>/edit">Edit</a>
        <button type="button" class="btn btn-default"
                data-action="build" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Rebuild</button>
        <button type="button" class="btn btn-default"
                data-action="update" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Upgrade</button>
        <button type="button" class="btn btn-danger"
                data-action="delete" data-model="Project"
                data-model-id="<%= item.get('slug') %>">Delete</button>
      </div>
      -->
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
