<div class="container projects">
  <div class="list-page-header">
    <div class="new-button">
      <a id="new-project" class="btn btn-primary"
         href="/projects/new"> <%= I18n.t('autotune.new-project') %> </a>
    </div>
    <div class="text-right">
      <form class="form-inline" method="get" action="/projects">
        <div class="input-group">
          <input type="text" class="form-control"
                   name="search" id="search" placeholder="<%= I18n.t('autotune.search-keywords') %>"
                   <% if(query.search) { %>value="<%=query.search %>"<% } %>>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit"> <%= I18n.t('autotune.search') %> </button>
          </span>
        </div>
        <div id="break-filter"> <%= I18n.t('autotune.filters') %>
          <% if(query.theme || query.blueprint_title || query.pub_status || query.search) { %>
            (<a href="/projects"> <%= I18n.t('autotune.clear-filters') %> </a>)
          <% } %>
          &nbsp;
        </div>
        <div class="filters">
          <div id='inline-filter'> <%= I18n.t('autotune.filters') %>
            <% if(query.theme || query.blueprint_title || query.pub_status || query.search) { %>
              (<a href="/projects"> <%= I18n.t('autotune.clear-filters') %> </a>)
            <% } %>
            &nbsp;
          </div>
          <% if ( app.themes.length > 1 ) { %>
            <div class="select">
              <select name="theme" id="theme" class="form-control selectize-target" data-auto-submit="true" placeholder="<%= I18n.t('autotune.theme-placeholder') %>">
                <option disabled <% if(!query.theme) { %>selected<% } %>></option>
              <% app.themes.each(function(theme) { %>
                <option <% if(theme.get('slug') == query.theme) { %>selected<% } %>
                      value="<%=theme.get('slug') %>"><%=theme.get('title') %></option>
              <% }) %>
              </select>
            </div>
            <% } %>
            <div class="select">
              <select name="blueprint_title" id="blueprint_title" class="form-control" data-auto-submit="true">
                <option disabled <% if(!query.blueprint_title) { %>selected<% } %>> <%= I18n.t('autotune.blueprint') %> </option>
              <% _.each(app.config.blueprint_titles, function(blueprint_title) { %>
                <option <% if(String(blueprint_title.id) === query.blueprint_title) { %>selected<% } %>
                      value="<%=blueprint_title.id %>"><%=blueprint_title.title %></option>
              <% }) %>
              </select>
            </div>
            <div class="select">
              <select name="pub_status" id="pub_status" class="form-control" data-auto-submit="true">
                <option disabled <% if(!query.pub_status) { %>selected<% } %>> <%= I18n.t('autotune.status') %> </option>
              <% _.each(app.config.project_pub_statuses, function(pub_status) { %>
                <option <% if(pub_status === query.pub_status) { %>selected<% } %>
                      value="<%=pub_status %>"><%=pub_status %></option>
              <% }) %>
              </select>
            </div>
        </div>
      </form>
    </div>
  </div>
  <table class="table collection project-list">
    <tbody>
    <tr class="m-table-heading">
      <td class="project-cell">      <%= I18n.t('autotune.list-head-project') %>   </td>
      <td class="author-cell">       <%= I18n.t('autotune.list-head-author') %>    </td>
      <td class="status-cell">       <%= I18n.t('autotune.list-head-status') %>    </td>
      <td class="publish-cell">      <%= I18n.t('autotune.list-head-published') %> </td>
      <td class="theme-cell">        <%= I18n.t('autotune.list-head-theme') %>     </td>
      <td class="blueprint-cell">    <%= I18n.t('autotune.list-head-blueprint') %> </td>
      <td class="bold-actions-cell"> <%= I18n.t('autotune.list-head-actions') %>   </td>
    </tr>
    <% if(!hasObjects()) { %>
    <tr><td class="text-center" colspan="6"><h4> <%= I18n.t('autotune.no-projects-found') %> </h4></td></tr>
    <% }
     _.each(getObjects(), function(item) { %>
     <tr>
      <td class="project-cell">
        <a class="title" href="<%=item.url() %>"><%= item.get('title') %></a></td>
      <td class="author-cell">
        <span class="small-list-view"> <%= I18n.t('autotune.created-by') %> </span>
        <%=item.get('created_by') %>
      </td>
      <td class="status-cell">
        <% if ( item.hasStatus('built') ) { %>
          <span class="label label-success"><%=item.get('status') %></span>
        <% } else if ( item.hasStatus('broken') ) { %>
          <span class="label label-danger"><%=item.get('status') %></span>
        <% } else if ( item.hasStatus('building') ) { %>
          <span class="label label-info"><%=render(require('./spinner.ejs'), {size:10, color:'#282E35'})%><%=item.get('status') %></span>
        <% } else if ( item.hasStatus('updated') )  { %>
          <span class="label label-info"> <%= I18n.t('autotune.updated') %> </span>
        <% } else { %>
          <span class="label label-info"><%=item.get('status') %></span>
        <% } %>
      </td>
      <td class="publish-cell">
        <% if ( item.hasUnpublishedUpdates() || item.isPublished() ) { %>
          <%= I18n.t('autotune.published') %>
        <% } else { %>
          <%= I18n.t('autotune.draft') %>
        <% } %>
        <% if ( item.get('published_at') ) { %><div class="pub-time"><%=item.publishedTime() %></div><% } %>
        <span style="margin-left: 5px;" class="small-list-view">
          <% if ( item.hasStatus('built') ) { %>
            <span class="label label-success"> <%= I18n.t('autotune.status-built') %> </span>
          <% } else if ( item.hasStatus('broken') ) { %>
            <span class="label label-danger"> <%= I18n.t('autotune.status-broken') %> </span>
          <% } else if ( item.hasStatus('building') ) { %>
            <span class="label label-info"><%=render(require('./spinner.ejs'), {size:10, color:'#282E35'})%> <%= I18n.t('autotune.status-building') %> </span>
          <% } else { %>
            <span class="m-status"><span class="glyphicon glyphicon-info-sign"></span></span>
          <% } %>
        </span>
      </td>
      <td class="theme-cell">
        <% if ( app.themes.findWhere({slug: item.get('theme')}) ) { %>
        <%=app.themes.findWhere({slug: item.get('theme')}).get('title') %>
        <% } else { %>
        <em class="text-muted"><%=item.get('theme') %></em>
        <% } %>
      </td>
      <td class="blueprint-cell"><%=item.get('blueprint_title') %></td>
      <td class="bold-actions-cell text-right">

        <a data-tooltip="<%= I18n.t('autotune.edit-tooltip') %>" href="<%=item.url() %>/edit">
          <span class="at-icon edit-icon"></span>
        </a>
        <a data-tooltip="<%= I18n.t('autotune.duplicate-tooltip') %>"
           data-action-message="<%= I18n.t('autotune.project-copied') %>"
           data-model="Project" data-action-next="reload"
              href="/projects/<%=item.get('slug') %>/duplicate">
            <span class="at-icon duplicate-icon"></span>
        </a>
        <a data-tooltip="<%= I18n.t('autotune.delete-tooltip') %>"
           data-action-message="<%= I18n.t('autotune.project-deleted-message') %>"
           data-action-confirm="<%= I18n.t('autotune.delete-confirm') %>"
           data-action="destroy" data-model="Project" data-action-next="reload"
           data-model-id="<%= item.get('slug') %>">
          <span class="at-icon delete-icon"></span>
        </a>
      </td>
    </tr>
  <% }); %>
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      <% if(collection.state.currentPage !== collection.state.firstPage){ %>
        <li class="previous<%=hasPreviousPage() ? '' : ' disabled' %>"><a href="<%=getPreviousPageUrl()%>"> <%= I18n.t('autotune.pagination-prev') %> </a></li>
      <% } %>

      <ul class="pagination">

        <% if(collection.state.currentPage - 1 >= collection.state.firstPage){ %>
          <li class=""><a href="<%=getPageUrl(collection.state.firstPage)%>"><%=collection.state.firstPage %><span class="sr-only"></span></a></li>
        <% } %>
        <% if(collection.state.currentPage - 3 > collection.state.firstPage){ %>
          <li class="ellipses"><span>...</span></li>
        <% } %>

        <% if(collection.state.currentPage === collection.state.firstPage){ %>

          <% var i = 1; %>
          <li class="active"><a href="#"><%=collection.state.currentPage %><span class="sr-only"> <%= I18n.t('autotune.pagination-curr') %> </span></a></li>
          <% while(collection.state.firstPage + i <= collection.state.totalPages && i < 6) { %>
            <li class=""><a href="<%=getPageUrl(collection.state.currentPage + i)%>"><%=collection.state.currentPage + i %><span class="sr-only"></span></a></li>
            <% i++; %>
          <% } %>

        <% } else if(collection.state.currentPage === collection.state.lastPage){ %>

          <% var i = -5; %>
          <% while(i < 0) { %>
            <% if(collection.state.lastPage + i > collection.state.firstPage){ %>
              <li class=""><a href="<%=getPageUrl(collection.state.lastPage + i)%>"><%=collection.state.lastPage + i %><span class="sr-only"></span></a></li>
            <% } %>
            <% i++; %>
          <% } %>
          <li class="active"><a href="#"><%=collection.state.currentPage %><span class="sr-only"> <%= I18n.t('autotune.pagination-curr') %> </span></a></li>

        <% } else { %>

          <% var i = -2; %>
          <% while(i < 0) { %>
            <% if(collection.state.currentPage + i > collection.state.firstPage){ %>
            <li class=""><a href="<%=getPageUrl(collection.state.currentPage + i)%>"><%=collection.state.currentPage + i %><span class="sr-only"></span></a></li>
            <% } %>
            <% i++; %>
          <% } %>

          <li class="active"><a href="#"><%=collection.state.currentPage %><span class="sr-only"> <%= I18n.t('autotune.pagination-curr') %> </span></a></li>

          <% var i = 1; %>
          <% while(collection.state.currentPage + i <= collection.state.lastPage && i < 3) { %>
            <li class=""><a href="<%=getPageUrl(collection.state.currentPage + i)%>"><%=collection.state.currentPage + i %><span class="sr-only"></span></a></li>
            <% i++; %>
          <% } %>

        <% } %>


        <% if(collection.state.lastPage - collection.state.currentPage > 2){ %>
          <% if(collection.state.lastPage - collection.state.currentPage > 3){ %>
          <li class="ellipses"><span>...</span></li>
          <% } %>
          <li class=""><a href="<%=getPageUrl(collection.state.lastPage)%>"><%=collection.state.lastPage %><span class="sr-only"></span></a></li>
        <% } %>

      </ul>

      <% if(collection.state.currentPage !== collection.state.lastPage){ %>
        <li class="next<%=hasNextPage() ? '' : ' disabled' %>"><a href="<%=getNextPageUrl()%>"> <%= I18n.t('autotune.pagination-next') %> </a></li>
      <% } %>
    </ul>
  </nav>
</div>
