<p class="margin-top">
  <button type="submit" class="btn btn-default" id="saveBtn"
          data-loading-text="Saving...">Save</button>

<% if ( ! model.isNew() ) { %>
  <% if ( model.isPublishable() ) { %>
  <a class="btn btn-default" target="_blank" id="previewBtn"
     data-view="preview">Preview</a>
  <% } else { %>
  <a class="btn btn-default" target="_blank" id="viewBtn"
     href="<%=model.getPublishUrl('http') %>">View</a>
  <% } %>

  <% if ( model.isPublishable() ) { %>
  <button type="button" class="btn btn-success" id="publishBtn"
          data-action-message="Publishing..."
          data-action="build-and-publish" data-model="Project"
          data-action-next="reload"
          data-model-id="<%=model.get('slug') %>">Publish</button>
  <% } %>

  <a class="btn btn-info" id="duplicateBtn"
          href="/projects/<%=model.get('slug') %>/duplicate">Duplicate</a>

  <button type="button" class="btn btn-danger" id="deleteBtn"
          <% if ( model.hasStatus('building') ) { %>disabled="true"<% } %>
          data-action-message="Project deleted"
          data-action-confirm="Are you sure you wish to delete this?"
          data-action="destroy"
          data-action-next="/projects" data-model="Project"
          data-model-id="<%=model.get('slug') %>">Delete</button>
<% } %>
</p>

<p id="validation-error" class="text-danger hidden">
  <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> You are missing required fields. Please edit and re-save.</span>
  </p>
<p id="success-message" class="text-success hidden">
  <span class="m-status status-ok"><i class="icon-ok"></i>You project has successfully saved.</span>
</p>

<% if ( ! model.isNew() ) { %>
  <% if ( model.hasStatus('broken') ) { %>
  <p class="text-danger">
     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> There were errors during the build.</span>
    </p>
    <% if ( model.has('error_message') ) { %>
    <p class="text-danger">
     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
     <%=model.get('error_message') %></p>
    <% } %>
  </div>
  <% } else if ( model.hasStatus('building') ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>Building the project, see? <%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%></span>
  </p>
  <% } else if ( model.isDraft() ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>You are currently editing a draft.</span>
  </p>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>You must publish to see your updates live.</span>
  </p>
  <% } else if ( model.hasUnpublishedUpdates() ) { %>
  <p class="text-warning">
    <span class="m-status status-info"><i class="icon-info"></i>This project has unpublished changes. To preview your changes, click ‘Preview’. If you are satisfied with your changes, you must republish.</span>
  </p>
  <% } %>
<% } %>
