<h3><%=model.get('title') %></h3>
<p><div class="btn-group" role="group" aria-label="project actions">
  <a class="btn btn-default" href="<%=model.url() %>/edit">Edit</a>
  <button type="button" class="btn btn-default"
          data-action="update" data-model="Project"
          data-model-id="<%=model.get('slug') %>">Upgrade</button>
  <button type="button" class="btn btn-danger"
          data-action="delete" data-model="Project"
          data-next="/projects"
          data-model-id="<%=model.get('slug') %>">Delete</button>
</div></p>

<h4>Blueprint data:</h4>
<pre>
<%=JSON.stringify(model.get('data'), null, 2) %>
</pre>

<h4>Output from last build:</h4>
<pre>
<%=model.get('output') %>
</pre>
