<div class="row m-page-heading">
  <div class="col-xs-12">
    <h3>
        <% if ( model.isNew() && (copyProject == false) ) {
          %>New Project<%
        } else if ( copyProject ) {
          %>New <%= model.get( 'title' ) %><%
        } else {
          %><%= model.get( 'title' ) %><%
        } %>
    </h3>

    <% if ( !model.isNew() ) { %>
    <p class="text-muted">
      Status:
      <% if ( model.hasStatus('broken') ) { %>
      <span class="text-danger"><i class="icon-alert"></i>Broken</span>
      <% } else if ( !model.hasStatus('built') ) { %>
      <span class="text-warning"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%>Building</span>
      <% } else if ( model.hasUnpublishedUpdates() ) { %>
        <a data-tooltip="Your Published Version Has Updates"
           target="_blank" href="<%=model.get('publish_url') %>">Published</a> (has updates)
      <% } else if ( model.isPublished() ) { %>
        <a data-tooltip="View Published Preview"
           target="_blank" href="<%=model.get('publish_url') %>">Published</a>
      <% } else { %>
        <a data-tooltip="View Draft Preview"
           target="_blank" data-view="view-draft">Draft</a>
      <% } %>
      <% if ( model.get('published_at') ) { %><br><%=model.publishedTime() %><% } %>
    </p>
    <% } %>

    <% if ( model.hasStatus('broken') && model.has('error_message') ) { %>
    <p class="text-danger">
     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
      <%=model.getErrorMsg() %></p>
    <% } %>
  </div>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a
        href="#edit" aria-controls="edit"
        role="tab" data-toggle="tab">Project info</a></li>
    <% if ( model.hasType( 'graphic' ) ) { %>
      <li role="presentation"><a
          href="#live-preview" id="draft-preview" aria-controls="live-preview"
          role="tab" data-toggle="tab">Preview</a></li>
      <% if ( model.isPublished() ) { %>
    <li role="presentation"><a
        href="#embed" aria-controls="embed"
        role="tab" data-toggle="tab">Embed</a></li>
      <% } else { %>
    <li role="presentation" class="disabled"><a>Embed</a></li>
      <% } %>
    <li role="presentation"><a
        href="#screenshots" aria-controls="screenshots"
        role="tab" data-toggle="tab">Screenshots</a></li>
    <% } else { %>
      <% if ( model.isDraft() ) { %>
        <% if ( model.blueprint.hasPreviewType('live') || model.hasType( 'graphic' ) && model.hasInitialBuild() ) { %>
          <li role="presentation"><a
              href="#live-preview" id="draft-preview" aria-controls="live-preview"
              role="tab" data-toggle="tab">Preview</a></li>
        <% } else { %>
          <li role="presentation" class="disabled"><a>Preview</a></li>
        <% } %>
        <li role="presentation" class="disabled"><a>Embed</a></li>
      <% } %>
    <% } %>
    <% if ( hasRole('superuser') ) { %>
    <% if ( model.isNew() ) { %>
      <li role="presentation" class="disabled"><a>Developer</a></li>
    <% } else { %>
      <li role="presentation"><a
          href="#developer" aria-controls="data"
          role="tab" data-toggle="tab">Developer</a></li>
    <% } %>
  <% } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit">
      <% if ( model.hasInstructions() ) { %>
      <div class="row">
        <div class="col-sm-8">
      <% } %>
        <div id="projectForm"></div>
        <!-- how is it pulling in the project buttons here? -->
      <% if ( model.hasInstructions() ) { %>
        </div>
        <div class="col-sm-4"><%=model.instructions() %></div>
      </div>
      <% } %>
    </div>

    <% if ( model.hasType( 'graphic' ) || model.blueprint.hasPreviewType('live') ) { %>
    <div role="tabpanel" class="tab-pane" id="embed"><textarea class="form-control" rows="6" readonly></textarea></div>
    <div role="tabpanel" class="tab-pane" id="live-preview">

      <ul class="nav nav-pills">
        <button type="button" data-action="get-preview-size" id="small-view"
          class="btn btn-default resize"
          data-model="Project"
          data-action-next="resize"
          data-model-id="<%=model.get('slug') %>">
          Small
        </button>
        <button type="button" data-action="get-preview-size" id="medium-view"
          class="btn btn-default resize"
          data-model="Project"
          data-action-next="resize"
          data-model-id="<%=model.get('slug') %>">
          Medium
        </button>
        <button type="button" data-action="get-preview-size" id="large-view"
          class="btn btn-default resize"
          data-model="Project"
          data-action-next="resize"
          data-model-id="<%=model.get('slug') %>">
          Large
        </button>
        <button type="button" data-action="get-preview-size" id="fluid-view"
          class="btn btn-default resize active"
          data-model="Project"
          data-action-next="resize"
          data-model-id="<%=model.get('slug') %>">
          Fluid (100%)
        </button>
      </ul>

      <!-- slug needs to match here too if versioned project isn't live -->
      <!-- <% slug = model.blueprint.get('slug') %>
      <% if ( ! model.blueprint.hasPreviewType('live') ) { %>
        <% slug = model.get('slug'); %>
      <% } %> -->
      <!-- <div class="preview-frame" id="<%= slug %>__graphic" style="border: 2px dashed #ccc;"></div> -->
      <div class="preview-frame" style="padding: 25px 0px;">
        <% if ( ! model.isNew() && ! model.blueprint.hasPreviewType('live') ) { %>
          <% if ( model.hasStatus('broken') ) { %>
          <p class="text-danger">
             <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> There were errors during the build.</span>
            </p>
            <% if ( model.has('error_message') ) { %>
            <p class="text-danger">
             <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
             <%=model.get('error_message') %></p>
            <% } %>
          </div>
          <% } else if ( model.hasStatus('building') ) { %>
          <p class="text-warning">
            <span class="status-info"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%> Building the project <br /><i class="icon-info"></i> The preview below is still building and does not reflect the changes that you just saved. It will update when the
            project finishes building.</span>
          </p>
          <% } else if ( model.hasStatus('built') ) { %>
          <p class="text-success">
            <span class="status-success">This draft is up-to-date with the latest saved version of this project.</span>
          </p>
          <!-- <p class="text-warning">
            <span class="m-status status-info"><i class="icon-info"></i>You must publish to see your updates live.</span>
          </p> -->
          <% } else if ( model.hasUnpublishedUpdates() ) { %>
          <p class="text-warning">
            <span class="m-status status-info"><i class="icon-info"></i>This project has unpublished changes. To preview your changes, click ‘Preview’. If you are satisfied with your changes, you must republish.</span>
          </p>
          <% } %>
        <% } %>
        <div style="border: 2px dashed #ccc;">
          <div id="<%= model.blueprint.get('slug') %>__graphic" ></div>
          <div id="<%= model.get('slug') %>__graphic" ></div>
        </div>
      </div>

      <% if ( model.blueprint.hasPreviewType('live') ) { %>
      <button type="submit" class="btn btn-default"

              id="savePreview"
              data-model="Project"
              data-loading-text="Saving..."
              data-model-id="<%=model.get('slug') %>">Save</button>
      <% } %>

    </div>
    <% } %>

    <div role="tabpanel" class="tab-pane" id="screenshots">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#large-ss" data-toggle="tab">Large</a></li>
        <li role="presentation"><a href="#medium-ss" data-toggle="tab">Medium</a></li>
        <li role="presentation"><a href="#small-ss" data-toggle="tab">Small</a></li>
      </ul>
      <% if ( model.isPublishable() ) { %>
      <div class="tab-content">
        <div id="large-ss" class="tab-pane active">
          <img src="<%=model.getPreviewUrl('', 'screenshots/screenshot_l.png')%>" />
        </div>
        <div id="medium-ss" class="tab-pane">
          <img src="<%=model.getPreviewUrl('', 'screenshots/screenshot_m.png')%>" />
        </div>
        <div id="small-ss" class="tab-pane">
          <img src="<%=model.getPreviewUrl('', 'screenshots/screenshot_s.png')%>" />
        </div>
      </div>
      <% } else { %>
      <div class="tab-content">
        <div id="large-ss" class="tab-pane active">
          <img src="<%=model.getPublishUrl('', 'screenshots/screenshot_l.png')%>" />
        </div>
        <div id="medium-ss" class="tab-pane">
          <img src="<%=model.getPublishUrl('', 'screenshots/screenshot_m.png')%>" />
        </div>
        <div id="small-ss" class="tab-pane">
          <img src="<%=model.getPublishUrl('', 'screenshots/screenshot_s.png')%>" />
        </div>
      </div>
      <% } %>
    </div>

    <% if ( hasRole('superuser') ) { %>
    <div role="tabpanel" class="tab-pane" id="developer">
      <p>Status:
        <% if ( model.hasStatus('broken') ) { %><span class="text-danger">Broken</span>
        <% } else if ( model.hasStatus('built') ) { %><span class="text-success">Built</span>
        <% } else { %><span class="text-warning"><%=capitalize(model.get('status')) %></span><% } %>
      </p>

      <p>
        <button type="button" class="btn btn-default"
                data-action-message="Build started" data-loading-text="Starting build..."
                data-action="build" data-action-next="reload">Rebuild</button>
        <button type="button" class="btn btn-warning"
                data-action-message="Upgrade started" data-loading-text="Starting upgrade..."
                data-action="update-snapshot" data-action-next="reload">Upgrade</button>
      </p>

      <h4>Blueprint data:</h4>
      <form data-model="Project"
            data-model-id="<%=model.isNew() ? '' : model.id %>"
            data-action="<%=model.isNew() ? 'new' : 'edit' %>"
            data-next="show">
        <p><div id="blueprint-data"></div></p>
        <p>
          <button type="submit" class="btn btn-default"
                  data-loading-text="Saving...">Save raw data</button>
        </p>
      </form>

      <h4>Output from last build:</h4>
      <pre><%=escape( model.get('output') ) %></pre>
    </div>
    <% } %>
  </div>

</div>
