<div class="row m-page-heading">
  <div class="col-xs-12">
    <h3><% if ( model.isNew() ) { %>New Project<% } else { %><%=model.get( 'title' ) %><% } %></h3>

    <% if ( !model.isNew() ) { %>
    <p class="text-muted">
      Status:
      <% if ( model.hasStatus('broken') ) { %>
      <span class="text-danger"><i class="icon-alert"></i>Broken</span>
      <% } else if ( !model.hasStatus('built') ) { %>
      <span class="text-warning">Building...</span>
      <% } else if ( model.hasUnpublishedUpdates() ) { %>
        <a data-tooltip="Your Published Version Has Updates"
           target="_blank" href="<%=model.get('publish_url') %>">Published</a> (has updates)
      <% } else if ( model.isPublished() ) { %>
        <a data-tooltip="View Published Preview"
           target="_blank" href="<%=model.get('publish_url') %>">Published</a>
      <% } else { %>
        <a data-tooltip="View Draft Preview"
           target="_blank" href="<%=model.get('preview_url') %>">Draft</a>
      <% } %>
      <% if ( model.get('published_at') ) { %><br><%=model.publishedTime() %><% } %>
    </p>
    <% } %>
  </div>

</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a
        href="#edit" aria-controls="edit"
        role="tab" data-toggle="tab">Project info</a></li>
    <% if ( model.isPublished() ) { %>
    <li role="presentation"><a
        href="#embed" aria-controls="embed"
        role="tab" data-toggle="tab">Embed</a></li>
    <% } else { %>
    <li role="presentation" class="disabled"><a>Embed</a></li>
    <% } %>
    <% if ( hasRole('superuser') ) { %>
      <% if ( model.isNew() ) { %>
      <li role="presentation" class="disabled"><a>Developer</a></li>
      <% } else { %>
      <li role="presentation"><a
          href="#developer" aria-controls="data"
          role="tab" data-toggle="tab">Developer</a></li>
      <% } %>
    <% } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit">
      <% if ( model.hasInstructions() ) { %>
      <div class="row">
        <div class="col-md-8">
      <% } %>
          <div id="projectForm"></div>
      <% if ( model.hasInstructions() ) { %>
        </div>
        <div class="col-md-4"><%=model.instructions() %></div>
      </div>
      <% } %>
    </div>
    <div role="tabpanel" class="tab-pane" id="embed"><textarea class="form-control" rows="6" readonly></textarea></div>
    <% if ( hasRole('superuser') ) { %>
    <div role="tabpanel" class="tab-pane" id="developer">
      <p>Status:
        <% if ( model.hasStatus('broken') ) { %><span class="text-danger">Broken</span>
        <% } else if ( model.hasStatus('built') ) { %><span class="text-success">Built</span>
        <% } else { %><span class="text-warning"><%=s.capitalize(model.get('status')) %></span><% } %>
      </p>

      <p>
        <button type="button" class="btn btn-default"
                data-action="build" data-model="Project"
                data-model-id="<%=model.get('slug') %>">Rebuild</button>
        <button type="button" class="btn btn-warning"
                data-action="update" data-model="Project"
                data-model-id="<%=model.get('slug') %>">Upgrade</button>
      </p>

      <h4>Blueprint data:</h4>
      <pre><%=JSON.stringify(model.buildData(), null, 2) %></pre>

      <h4>Output from last build:</h4>
      <pre><%=model.get('output') %></pre>
    </div>
    <% } %>
  </div>

</div>
