<!-- <div class="row m-page-heading">

</div> -->

<div role="tabpanel" id="project-tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a
        href="#edit" aria-controls="edit"
        role="tab" data-toggle="tab">Create</a></li>
    <% if ( model.hasType( 'graphic' ) || model.blueprint.hasPreviewType('live') ) { %>
      <% if ( model.isNew() ) { %>
      <li role="presentation" class="disabled"><a>Publish</a></li>
      <% } else { %>
      <li role="presentation"><a
          href="#publish" aria-controls="data"
          role="tab" data-toggle="tab">Publish</a></li>
      <% } %>

      <!-- <% if ( model.has( 'embed_html' ) && model.isPublished() ) { %>
      <li role="presentation"><a
          href="#embed" aria-controls="embed"
          role="tab" data-toggle="tab">Embed</a></li>
        <% } else { %>
      <li role="presentation" class="disabled"><a>Embed</a></li>
        <% } %>

      <% if ( model.has( 'screenshot_sm_url' ) ) { %>
      <li role="presentation"><a
        href="#screenshots" aria-controls="screenshots"
        role="tab" data-toggle="tab">Screenshots</a></li>
      <% } else { %>
      <li role="presentation" class="disabled"><a>Screenshots</a></li>
      <% } %> -->

    <% } %>
    <% if ( hasRole('superuser') ) { %>
      <% if ( model.isNew() ) { %>
      <li role="presentation" class="disabled"><a>Developer</a></li>
      <% } else { %>
      <li role="presentation"><a
          href="#developer" aria-controls="data"
          role="tab" data-toggle="tab">Developer</a></li>
      <% } %>
  <% } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="edit">
      <% if (model.blueprint.hasPreviewType('live')) { %>
      <div id="projectEditor" class="row">
          <div class="col-sm-8">
            <h3>
                <% if ( model.isNew() && (copyProject == false) ) {
                  %>New Project<%
                } else if ( copyProject ) {
                  %>New <%= model.get( 'title' ) %><%
                } else {
                  %><%= model.get( 'title' ) %><%
                } %>
            </h3>

            <% if ( !model.isNew() ) { %>
            <p class="text-muted">
              Status:
              <% if ( model.hasStatus('broken') ) { %>
              <span class="text-danger"><i class="icon-alert"></i>Broken</span>
              <% } else if ( !model.hasStatus('built') ) { %>
              <span class="text-warning"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%>Building</span>
              <% } else if ( model.hasUnpublishedUpdates() ) { %>
                <a data-tooltip="Your Published Version Has Updates"
                   target="_blank" href="<%=model.getPublishUrl() %>">Published</a> (has updates)
              <% } else if ( model.isPublished() ) { %>
                <a data-tooltip="View Published Preview"
                   target="_blank" href="<%=model.getPublishUrl() %>">Published</a>
              <% } else if ( model.hasType( 'graphic' ) ) { %>
                <a data-tooltip="View Draft Preview" data-toggle="tab" href="#preview">Draft</a>
              <% } else { %>
                <a data-tooltip="View Draft Preview"
                   target="_blank" href="<%=model.getPreviewUrl() %>">Draft</a>
              <% } %>
              <% if ( model.get('published_at') ) { %><br><%=model.publishedTime() %><% } %>
            </p>
            <% } %>

            <% if ( model.hasStatus('broken') && model.has('error_message') ) { %>
            <p class="text-danger">
             <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
              <%=model.getErrorMsg() %></p>
            <% } %>

            <div id="preview">

              <div class="preview-frame">
                <% if ( ! model.hasPreviewType('live') ) { %>
                  <div id="save-warning" class="project-save-warning">
                    <p class="text-warning">
                     The data in the project form isn't up-to-date with the latest project build data. Save your project to see changes.
                    </p>
                  </div>
                  <% if ( model.hasStatus('broken') ) { %>
                  <p class="text-danger">
                     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span> There were errors during the build.</span>
                  </p>
                    <% if ( model.has('error_message') ) { %>
                    <p class="text-danger">
                     <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
                     <%=model.get('error_message') %>
                    </p>
                    <% } %>
                  <% } else if ( model.hasUnpublishedUpdates() ) { %>
                  <p class="text-warning">
                    <span class="m-status status-info"><i class="icon-info"></i>This project has unpublished changes. To preview your changes, click ‘Preview’. If you are satisfied with your changes, you must republish.</span>
                  </p>
                  <% } %>
                <% } %>
                <div id="embed-preview" class="loading">
                  <div class="overlay">
                    <%=render(require('./spinner.ejs'), {size:30, color:'white'})%>
                    <% if (!model.hasPreviewType('live') && model.hasStatus('building')) { %>
                    Building project
                    <% } else { %>
                    Loading preview
                    <% } %>
                  </div>
                </div>
              </div>

              <% if ( model.hasThemeType('dynamic') && model.hasPreviewType('live') && !model.isCurrentVersion() ) { %>
              <p class="text-warning">
                <span class="m-status status-info">
                  <i class="icon-info"></i>
                  This preview may be outdated. Please upgrade the project to see the latest version.
                </span>
              </p>
              <% } %>

              <% if ( model.hasPreviewType('live') ) { %>
              <button type="submit" class="btn btn-default"
                      id="savePreview" data-loading-text="Saving...">Save</button>
              <% } %>

              <% if ( model.hasThemeType('dynamic') && model.hasPreviewType('live') && !model.isCurrentVersion() ) { %>
              <button type="button" class="btn btn-warning"
                      data-action-message="Upgrade started" data-loading-text="Starting upgrade..."
                      data-action="update-snapshot" data-action-next="reload">Upgrade</button>
              <% } %>

            </div>
          </div>

          <div class="col-sm-4">
            <ul class="nav nav-pills">
              <button type="button" id="small-view"
                      class="btn btn-default resize"> Small </button>
              <button type="button" id="medium-view"
                      class="btn btn-default resize"> Medium </button>
              <button type="button" id="fluid-view"
                      class="btn btn-default resize active"> Full </button>
            </ul>
            <div id="projectForm"></div>
          </div>
        </div>
        <% } else { %>
        <div id="projectEditor" class="row">
            <div class="col-sm-12">
              <h3>
                  <% if ( model.isNew() && (copyProject == false) ) {
                    %>New Project<%
                  } else if ( copyProject ) {
                    %>New <%= model.get( 'title' ) %><%
                  } else {
                    %><%= model.get( 'title' ) %><%
                  } %>
              </h3>

              <% if ( !model.isNew() ) { %>
              <p class="text-muted">
                Status:
                <% if ( model.hasStatus('broken') ) { %>
                <span class="text-danger"><i class="icon-alert"></i>Broken</span>
                <% } else if ( !model.hasStatus('built') ) { %>
                <span class="text-warning"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%>Building</span>
                <% } else if ( model.hasUnpublishedUpdates() ) { %>
                  <a data-tooltip="Your Published Version Has Updates"
                     target="_blank" href="<%=model.getPublishUrl() %>">Published</a> (has updates)
                <% } else if ( model.isPublished() ) { %>
                  <a data-tooltip="View Published Preview"
                     target="_blank" href="<%=model.getPublishUrl() %>">Published</a>
                <% } else if ( model.hasType( 'graphic' ) ) { %>
                  <a data-tooltip="View Draft Preview" data-toggle="tab" href="#preview">Draft</a>
                <% } else { %>
                  <a data-tooltip="View Draft Preview"
                     target="_blank" href="<%=model.getPreviewUrl() %>">Draft</a>
                <% } %>
                <% if ( model.get('published_at') ) { %><br><%=model.publishedTime() %><% } %>
              </p>
              <% } %>

              <% if ( model.hasStatus('broken') && model.has('error_message') ) { %>
              <p class="text-danger">
               <span class="m-status status-alert"><i class="icon-alert"></i><span class="sr-only">Error:</span>
                <%=model.getErrorMsg() %></p>
              <% } %>
            </div>
          </div>

          <div id="row">
              <div class="col-sm-8">
                <div id="projectForm"></div>
              </div>
              <div class="col-sm-4"><%=model.instructions() %></div>
          </div>
      <% } %>
    </div>



    <div role="tabpanel" class="tab-pane" id="publish">
      <% if ( model.has('embed_html') ) { %>
      <p>
        <button type="button" class="btn btn-default"
                data-hook="copyEmbedToClipboard">Copy embed code</button>
      </p>

      <textarea class="form-control" rows="6" readonly><%=model.get('embed_html') %></textarea>
      <% } %>
      <% if ( model.has('screenshot_sm_url') ) { %>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#large-ss" data-toggle="tab">Large</a></li>
        <li role="presentation"><a href="#medium-ss" data-toggle="tab">Medium</a></li>
        <li role="presentation"><a href="#small-ss" data-toggle="tab">Small</a></li>
      </ul>

      <div class="tab-content">
        <div id="large-ss" class="tab-pane active">
          <img src="<%=model.get('screenshot_lg_url')%>" />
        </div>
        <div id="medium-ss" class="tab-pane">
          <img src="<%=model.get('screenshot_md_url')%>" />
        </div>
        <div id="small-ss" class="tab-pane">
          <img src="<%=model.get('screenshot_sm_url')%>" />
        </div>
      </div>
      <% } %>
    </div>

    <!-- <div role="tabpanel" class="tab-pane" id="screenshots">

      <% if ( model.has('screenshot_sm_url') ) { %>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#large-ss" data-toggle="tab">Large</a></li>
        <li role="presentation"><a href="#medium-ss" data-toggle="tab">Medium</a></li>
        <li role="presentation"><a href="#small-ss" data-toggle="tab">Small</a></li>
      </ul>

      <div class="tab-content">
        <div id="large-ss" class="tab-pane active">
          <img src="<%=model.get('screenshot_lg_url')%>" />
        </div>
        <div id="medium-ss" class="tab-pane">
          <img src="<%=model.get('screenshot_md_url')%>" />
        </div>
        <div id="small-ss" class="tab-pane">
          <img src="<%=model.get('screenshot_sm_url')%>" />
        </div>
      </div>
      <% } %>

    </div> -->


    <% if ( hasRole('superuser') ) { %>
    <div role="tabpanel" class="tab-pane" id="developer">
      <p>Status:
        <% if ( model.hasStatus('broken') ) { %><span class="text-danger">Broken</span>
        <% } else if ( model.hasStatus('built') ) { %><span class="text-success">Built</span>
        <% } else { %><span class="text-warning"><%=capitalize(model.get('status')) %></span><% } %>
      </p>

      <p>
        <button type="button" class="btn btn-default"
                data-action-message="Build started" data-loading-text="Starting build..."
                data-action="build" data-action-next="reload">Rebuild</button>
        <button type="button" class="btn btn-warning"
                data-action-message="Upgrade started" data-loading-text="Starting upgrade..."
                data-action="update-snapshot" data-action-next="reload">Upgrade</button>
      </p>

      <h4>Blueprint data:</h4>
      <form data-model="Project"
            data-model-id="<%=model.isNew() ? '' : model.id %>"
            data-action="<%=model.isNew() ? 'new' : 'edit' %>"
            data-next="show">
        <p><div id="blueprint-data"></div></p>
        <p>
          <button type="submit" class="btn btn-default"
                  data-loading-text="Saving...">Save raw data</button>
        </p>
      </form>

      <h4>Output from last build:</h4>
      <pre><%=escape( model.get('output') ) %></pre>
    </div>
    <% } %>

  </div>

</div>
