<div class="row m-page-heading">
  <div class="col-xs-12 col-sm-6">
    <h3>Manage themes</h3>
  </div>
  <div class="col-xs-12 col-sm-6 text-right">
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <td>
        <a class="btn btn-primary btn-xs" href="/themes/new">New theme</a>
      </td>
      <td class="text-right" colspan="3">
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="m-table-heading">
      <td>Theme</td>
      <td>Group</td>
      <td>Status</td>
      <td class="text-right" colspan="2">Bold Actions</td>
    </tr>
  <% if(getObjects().length == 0) { %>
      <td class="text-center" colspan="4"><h4>No themes found</h4></td>
  <% }
  _.each(getObjects(), function(item) { %>
  <tr>
    <td <% if(item.get('status') == 'ready') { %>
      class="ok-notice"
      <% } else if(item.get('status') == 'broken') { %>
      class="alert-notice"
      <% } else { %>
      class="info-notice"
      <% } %>><a href="<%=item.url() %>"><%= item.attributes.title %></a></td>
    <td>
      <%= item.attributes.group_name %>
    </td>
    <td>
      <% if(item.get('status') == 'ready') { %>
      <span class="m-status status-ok"><i class="icon-ok"></i><%=item.get('status') %></span>
      <% } else if(item.get('status') == 'broken') { %>
        <span class="m-status status-alert"><i class="icon-alert"></i><%=item.get('status') %></span>
      <% } else if(item.hasStatus('updating')) { %>
        <span class="m-status status-info"><%=render(require('./spinner.ejs'), {size:10, color:'#FFA039'})%>Upgrading</span>
      <% } else { %>
        <span class="m-status status-info"><i class="icon-info"></i><%=item.get('status') %></span>
      <% } %>
    </td>
    <td class="text-right" colspan="2">
      <a data-tooltip="edit" href="<%=item.url() %>/edit"><span class="icon-edit"></span></a>
      <a data-tooltip="delete" href="#"
         data-action-message="Theme deleted"
         data-action-confirm="Are you sure you wish to delete this?"
         data-action="destroy" data-model="Theme" data-action-next="reload"
         data-model-id="<%= item.attributes.slug %>"><span class="icon-delete"></span></a>
    </td>
  </tr>
<% }); %>
  </tbody>
</table>
